on:
  push:
    branches:
      - main





jobs:
  build:
    runs-on: ubuntu-latest

    
    steps:
      - name: 'before checkout'
        run: ls


      - uses: actions/checkout@v3


      - name: 'before checkout'
        run: ls


          

      


      
         



































